.search-detail {
  padding: 32px;
}

.search-detail p {
  cursor: pointer;
  word-break: break-all;
}

.detail-content {
  line-height: 1.75rem;
}

.detail-text {
  margin: 24px 0;
}
.detail-footer {
  margin-top: 24px;
  background: #f8f8f8;
  border-radius: 8px;
  border: 1px solid #c0c0c0;
  padding: 24px;
}
.detail-footer a {
  word-break: break-all;
  width: 100%;
  color: #333;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.time-footer > span {
  display: flex;
  align-self: center;
  justify-content: center;
}
